
<div class="order-success-page">

  <div class="success-container">

    <div class="success-icon">
      ✓
    </div>

    <p class="success-label">
      ZELL COLLECTION
    </p>

    <h1>
      Order Placed Successfully
    </h1>

    <p class="success-message">
      Thank you for shopping with ZELL.
      Your order has been placed successfully.
    </p>

    <div class="success-actions">

      <a
        routerLink="/order"
        class="orders-button">
        View My Orders
      </a>

      <a
        routerLink="/products"
        class="continue-button">
        Continue Shopping
      </a>

    </div>

  </div>

</div>